{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "dot-notation": "error",
    "eqeqeq": "error",
    "no-loop-func": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-nested-ternary": "error",
    "no-shadow": "error",
    "no-throw-literal": "error",
    "prefer-const": "error"
  }
}
